<div class="alert alert-sm alert-primary" role="alert">
    <a (click)="onExpend()" class="bt-control">
        <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
    </a>
    <a (click)="onCollapse()" class="bt-control">
        <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
    </a>
  </div>
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Account</th>
      <th scope="col">Item</th>
      <th scope="col">Periodicity</th>
      <th scope="col">Projected Amount</th>
      <th scope="col">Actual Amount</th>
      <th scope="col">Memo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let item of data | groupby:'category'">
    <tr>
      <th scope="row">
        <a *ngIf="item.expanded" (click)="item.expanded=!item.expanded">
          <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
        </a>
        <a *ngIf="!item.expanded" (click)="item.expanded=!item.expanded">
          <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        </a>
        <a (click)="editLedger()" class="bt-tb">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </th>
      <th colspan="4">{{item.key}}</th>
      <th class="grouped debit-amount">{{item.totalProjected | currency:"$":0}}</th>
      <th class="grouped credit-amount">{{item.totalActual | currency:"$":0}}</th>
      <th *ngIf="(item.totalProjected - item.totalActual) > 0" class="grouped debit-amount">{{item.totalProjected - item.totalActual | currency:"$":0}}</th>
      <th *ngIf="(item.totalProjected - item.totalActual) <= 0" class="grouped credit-amount">{{item.totalProjected - item.totalActual | currency:"$":0}}</th>
    </tr>
    <!-- || item.ledgers.length == 1 -->
    <ng-container *ngIf="item.expanded || expended">
      <tr *ngFor="let ledger of item.ledgers">
          <!-- <app-ledger-item [ledger]="ledger"></app-ledger-item> -->
        <td></td>
        <td>{{ledger.account}}</td>
        <td>{{ledger.item}}</td>
        <td>{{ledger.periodicity}}</td>
        <td class="grouped debit-amount">{{ledger.projectedAmount | currency:"$":0}}</td>
        <td class="grouped credit-amount">{{ledger.actualAmount | currency:"$":0}}</td>
        <!-- <td *ngIf="isEdit && itemSelected.id == ledger.id" class="grouped credit-amount"><input type="text" class="input-amount" #ledgerActualAmount></td> -->
        <td>{{ledger.memo}}</td>
        <!-- <td *ngIf="isEdit && itemSelected.id == ledger.id"><input type="text" #ledgerMemo></td> -->
        <td>
          <a (click)="editLedger(ledger)">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </a>
          <a (click)="editLedger(ledger)" class="credit-amount">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
          <!-- <a *ngIf="isEdit && itemSelected.id == ledger.id" (click)="onSave(ledger, ledgerActualAmount.value, ledgerMemo.value)">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </a>
          <a *ngIf="isEdit && itemSelected.id == ledger.id" (click)="reset()">
            <i class="fa fa-repeat" aria-hidden="true"></i>
          </a> -->
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>